<header>
    <a class="logo" href="http://localhost:3000/">
        <img src="/images/header/logo.svg" />
    </a>

    <% if (menu) { %>
    <div class="menu">
        <a href="#">Scooters</a>
        <a href="products">Shop</a>
        <a href="#">FAQ</a>
        <a href="signin">Sign In</a>
    </div>
    <% } %>
</header>
