<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>NeinBolt</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>


  
	<header>

    <a class="logo" href="https://vebdev-nein.karlpariis.repl.co/">
      <img src="/assets/header/logo.svg">
    </a>

    <div class="menu">
      
      <a href="product.html">Scooters</a>
      <a href="#">Shop</a>
      <a href="#">FAQ</a>
      <a href="signin.html">Sign In</a>
  
    </div>

	</header>

	<main>

    <div class="maintext">
      
      <h1> World-class design & high-tech innovation</h1>
      
      <h3> Use NeinBolt scooters for your daily commute and to explore cities around the world.</h3>

      <a class="buynow" href="#">Buy one NOW</a>
    </div>

    <img class="mainscooters" src="/assets/main/mainscooters.svg" />
  
  </main>

  <footer >
    
  </footer>
</body>

</html>
