<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NeinBolt</title>
    <link href="/stylesheets/signin.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <%- include("./partials/header.ejs", menu=false) %>

    <main>
      <form class="signinform" action="">
        <div class="container">
          <h2>Sign in to NeinBolt</h2>

          <input type="text" placeholder="Email" name="email" required />

          <input
            type="password"
            placeholder="Enter Password"
            name="psw"
            required
          />

          <span class="trouble"><a href="#">Trouble logging in?</a></span>

          <button class="signin" type="submit">Sign in</button>

          <span class="signup"
            ><a href="signup">Don't have an account? Sign up</a></span
          >
        </div>
      </form>
    </main>
  </body>
</html>
